.about {
    .about-section {
        border-top: 3px solid #D8D8D8;
        border-bottom: 3px solid #D8D8D8;
        width: 100vw;
        margin-bottom: 100px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        img {
            width: 600px;
            margin-left: 103px;
            display: inline-block;  
        }
        p {
            display: inline-block;
            font-family: "PT Serif", serif;
            font-size: 20px;
            line-height: 32px;
            margin: 50px 100px;
            color: #4A4A4A;
        }
    }
}