.header {
    height: 190px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    hr {
        height: 2px;
        background-color: #979797;
        border: none;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    .logo {
        padding: 20px;
        position: absolute;
        left: 45px;
        top: 50px;
        z-index: 1;
        width: 100px;
        background-color: #FFFCF7;
    }
    .header-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 203px;
        margin-right: 100px;
        width: 100%;
        a {
            text-decoration: none;
        }
        h1 {
            font-family: "Montserrat", sans-serif;
            font-weight: 900;
            color: black;
            padding: 20px;
            font-size: 36px;
            background-color: #FFFCF7;
        }
        ul {
            display: flex;
            flex-direction: row;
            width: 600px;
            justify-content: space-between;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    h2 {
                        font-family: "Montserrat", sans-serif;
                        font-weight: 300;
                        font-style: italic;
                        color: black;
                        padding: 20px;
                        font-size: 36px;
                        background-color: #FFFCF7;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1300px) {
    .header {
        .header-content {
            ul {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 750px) {
    .header {
        .header-content {
            margin-right: 50px;
        }
    }
}
@media screen and (max-width: 600px) {
    .header {
        .logo {
            width: 90px;
            left: 0;
        }
        .header-content {
            margin-left: 90px;
            margin-right: 25px;
            h1 {
                font-size: 25px;
            }
            ul {
                display: none;
            }
        }
    }
}