.project {
    padding-bottom: 100px;
    span {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        h1 {
            font-family: "Montserrat", sans-serif;
            font-weight: 900;
            font-size: 36px;
            color: black;
            margin-left: 203px;
        }
        .project-type {
            font-family: "PT Serif", serif;
            font-style: italic;
            margin-right: 20px;
            font-size: 20px;
            margin-left: 20px;
            color: black;
        }
    }
    .project-desc {
        margin-top: 20px;
        font-family: "PT Serif", serif;
        font-size: 16px;
        line-height: 25px;
        max-width: 50%;
        color: black;
        margin-left: 203px;
    }
    .type-grid {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        ul {
            li {
                list-style: none;
                margin-bottom: 100px;
                img {
                    width: 50vw;
                }
            }
        }
    }
}
.back-to-home {
    font-family: "PT Serif", serif;
    font-style: italic;
    font-size: 36px;
    color: black;
    text-decoration: underline;
    text-align: center;
    margin-left: 103px;
}
@media screen and (max-width: 600px) {
    .project {
        span {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            h1 {
                margin-left: 103px;
            }
            .project-type {
                margin-left: 103px;
                margin-top: 20px;
            }
        }
        .project-desc {
            margin-left: 103px;
            margin-top: 50px;
            max-width: 60%;
        }
    }
}

.show-posters {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    img {
        width: 50%;
        margin-top: 100px;
    }
}
