.work {
    position: relative;
    .work-section {
        margin-bottom: 200px;
        .projects-list {
            width: 100vw;
            li {
                border-top: 2px solid #979797;
                padding-left: 203px;
                padding: 1rem 0 1rem 203px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                cursor: pointer;
                span {
                    display: flex;
                    flex-direction: row;
                    p {
                        font-family: "PT Serif", serif;
                        font-style: italic;
                        margin-right: 20px;
                        font-size: 20px;
                        color: #4A4A4A;
                    }
                    h2 {
                        font-family: "Montserrat", sans-serif;
                        color: #4A4A4A;
                    }
                }
                .tab-content {
                    display: none;
                    p {
                        font-family: "PT Serif", serif;
                        margin: 20px 20px 20px 0;
                        font-size: 16px;
                        line-height: 25px;
                        max-width: 700px;
                        color: #4A4A4A;
                    }
                    .checkout-button {
                        border: 1px solid black;
                        background: none;
                        font-family: "PT Serif", serif;
                        font-style: italic;
                        font-size: 20px;
                        padding: 5px 20px;
                        cursor: pointer;
                        transition: .1s all;
                        color: #4A4A4A;
                        &:hover {
                            background-color: #4A4A4A;;
                            color: white;
                            transition: .1s all;
                        }
                    }
                }
                &:last-child {
                    border-bottom: 2px solid #979797;
                }
                &:hover {
                    background-color: #C8DEF7;
                }
            }
            .active-tab {
                .tab-content {
                    display: block;
                }
                background-color: #C8DEF7;
            }            
        }
    }
    .project-preview {
        position: absolute;
        right: 200px;
        top: 100px;
        width: 500px;
        height: 500px;
        background-color: #FFFCF6;
        border: 2px solid #979797;
        overflow: hidden;
        img {
            width: 500px;
        }
    }
}