.work {
    position: relative;
    .work-section {
        margin-bottom: 200px;
        .projects-list {
            width: 100vw;
            li {
                border-top: 2px solid #979797;
                padding-left: 203px;
                padding: 1rem 0 1rem 203px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                cursor: pointer;
                background-color: #FFFCF6;
                z-index: 5;
                img {
                    height: 250px;
                    width: 250px;
                }
                span {
                    display: flex;
                    flex-direction: row;
                    p {
                        font-family: "PT Serif", serif;
                        font-style: italic;
                        margin-right: 20px;
                        font-size: 20px;
                        color: black;
                    }
                    h2 {
                        font-family: "Montserrat", sans-serif;
                        color: black;
                        font-weight: 900;
                    }
                }
                .tab-content {
                    display: none;
                    p {
                        font-family: "PT Serif", serif;
                        margin: 20px 20px 20px 0;
                        font-size: 16px;
                        line-height: 25px;
                        max-width: 700px;
                        color: black;
                    }
                    .checkout-button {
                        border: 1px solid black;
                        background: none;
                        font-family: "PT Serif", serif;
                        font-style: italic;
                        font-size: 20px;
                        padding: 5px 20px;
                        cursor: pointer;
                        transition: .1s all;
                        color: black;
                        &:hover {
                            background-color: black;;
                            color: white;
                            transition: .1s all;
                        }
                    }
                }
                &:last-child {
                    border-bottom: 2px solid #979797;
                }
                &:hover {
                    background-color: #C8DEF7;
                }
                .project-preview-img {
                    display: none;
                    height: 250px;
                    width: 250px;
                    margin-bottom: 20px;
                    border: 2px solid #979797;
                }
            }
            .active-tab {
                .tab-content {
                    display: block;
                }
                background-color: #C8DEF7;
            }            
        }
    }
    .project-preview {
        position: absolute;
        right: 100px;
        top: 0;
        width: 500px;
        height: 500px;
        background-color: #FFFCF6;
        border: 2px solid #979797;
        overflow: hidden;
        img {
            width: 500px;
        }
    }
}
@media screen and (max-width: 1500px) {
    .work {
        .project-preview {
            right: 50px;
            width: 300px;
            height: 300px;
        }
    }
}
@media screen and (max-width: 1000px) {
    .work {
        .project-preview {
            display: none;
        }
        .work-section {
            .projects-list {
                li {
                    padding: 2rem 0 2rem 203px;
                    .project-preview-img {
                        display: inline;
                    }
                    .tab-content {
                        display: block;
                    }
                    &:hover {
                        background-color: #FFFCF6;
                    }
                }
                .active-tab {
                    background-color: #FFFCF6;
                }
            }
        }
    }
}
@media screen and (max-width: 850px) {
    .work {
        .work-section {
            .projects-list {
                li {
                    padding-left: 203px;
                    span {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .work {
        .work-section {
            .projects-list {
                li {
                    padding-left: 40px;
                    padding-right: 53px;
                    span {
                        flex-direction: column;
                        h2 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}